<%content_for :titulo do%>
  Lotações de <%=@pessoa.nome%>
<%end%>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Novo Processo de Lotação</a></li>
  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Lotações em Aberto</a></li>
  <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Histórico de Lotações</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab1">
    <%= render :partial=>'nova_lotacao'%>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab2">Aberto</div>
  <div role="tabpanel" class="tab-pane" id="tab3">Histórico</div>
</div>
</div>