
<div class='col-sm-12 col-md-12 col-lg-12'>
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <i class='fa fa-home fa-fw fa-5x'></i>
    <br>Bem vindo azul
  </div>
  <div class='col-sm-6 col-md-6 col-lg-6'>

    <div class='col-sm-12 col-md-12 col-lg-12'>
      <div class='col-sm-4 col-md-4 col-lg-4'>

      <i class='fa fa-search fa-fw'></i>
        <br>
        localizar uma pessoa
      </div>
      <div class='col-sm-4 col-md-4 col-lg-4'>

        <i class='fa fa-check-square-o fa-fw'></i>
        <br>
        confirmar uma lotação
      </div>
      <div class='col-sm-4 col-md-4 col-lg-4'>

        <i class='fa fa-sitemap fa-fw'></i>
        <br>localizar uma escola ou departamento
      </div>

      <div class='col-sm-4 col-md-4 col-lg-4'>


        <i class='fa fa-user fa-fw'></i>
        <br>
        atualizar meu perfil
      </div>
      <div class='col-sm-4 col-md-4 col-lg-4'>

        <i class='fa fa-file-text-o fa-fw'></i>
        <br>
        ponto diário
      </div>
      <div class='col-sm-4 col-md-4 col-lg-4'>

       <i class='fa fa-print fa-fw'></i>
       <br>
       Relatórios
     </div>
   </div>
 </div>
</div>
