/*
 *= require_self
 *= require jquery-ui.min
 *= require bootstrap_and_overrides
 *= require loading_notice
 *= require auto_complete
 * require verticalaccordion
 *= require dashboard
 *= require selectize
 *= require selectize.bootstrap3
*/

#loadingmessage {
    display:none;
}

.hiddenRow {padding: 0 !important;}

@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}

tr.linha td {
    /* set border style for separated rows */
    border-bottom: 1px solid black;
} 