/*
*= require_self
*= require jquery-ui.min
*= require bootstrap_and_overrides
*= require loading_notice
*= require auto_complete
*= require dashboard
*= require select2
*= require select2-bootstrap
*= require login
*/

#loadingmessage {
display:none;
}

.hiddenRow {padding: 0 !important;}

@media screen and (max-width: 640px) {
table {
overflow-x: auto;
display: block;
}
}

tr.linha td {
/* set border style for separated rows */
border-bottom: 1px solid black;
}

.radio,
.checkbox {
padding-left: 20px;
}
.radio label,
.checkbox label {
margin-left: -20px;
display: block;
padding: 0;
}

#ponto_mes {width: 30%;}
#ponto_ano {width: 30%;}

.div_flex {
  margin:2px;
  width:99.4%;
  border:1px solid #999999;
}
.div_fixa{
  margin:2px;
  height:140px;

  width: 480px;
  display:table-cell;
  vertical-align:middle;
  /*vertical-align: text-top;*/
  vertical-align: middle;
  /*display: inline-block;*/
  /*line-height: 200px;*/
  /*border:3px solid #FFFFFF;*/
}
.div_fixa_2x{
  /*margin:2px;*/
  height:280px;

  /*width: 480px;*/
  display:table-cell;
  vertical-align:middle;
  /*vertical-align: text-top;*/
  vertical-align: middle;
  /*display: inline-block;*/
  /*line-height: 200px;*/
  /*border:1px solid #CCCCCC;*/
}
.div_espaco{
  margin:2px;
  height:5px;
  display: inline-block;
  /*line-height: 200px;*/
}
