jQuery("#verificado-<%=f.matricula%>").html("<form action='/pessoas/<%=p.slug%>/funcionarios/<%=f.slug%>/desverificar_funcionario' class='button_to' data-remote='true' method='post'><div><input class='btn btn-default btn-xs btn-danger' type='submit' value='Invalidar Funcionário' /><input name='authenticity_token' type='hidden' value='ZuMgZKtXmC/vjL6JSUpYf5qSdbQz+WP7CHgZlX7I4Ts=' /></div></form>")

